# Project exclude paths
/cmake-build-debug/
vcs.xml
/cmake-build-sfml/CMakeFiles/3.20.2/CompilerIdC/a.exe
/cmake-build-sfml/CMakeFiles/3.20.2/CompilerIdCXX/a.exe
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/build.make
/cmake-build-sfml/CMakeFiles/clion-environment.txt
/cmake-build-sfml/CMakeFiles/clion-log.txt
/cmake-build-sfml/CMakeFiles/cmake.check_cache
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/cmake_clean.cmake
/cmake-build-sfml/cmake_install.cmake
/cmake-build-sfml/CMakeCache.txt
/cmake-build-sfml/CMakeFiles/3.20.2/CMakeCCompiler.cmake
/cmake-build-sfml/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-sfml/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
/cmake-build-sfml/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-sfml/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-sfml/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-sfml/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-sfml/CMakeFiles/CMakeOutput.log
/cmake-build-sfml/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
/cmake-build-sfml/CMakeFiles/3.20.2/CMakeSystem.cmake
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/CXX.includecache
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/depend.internal
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/depend.make
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/DependInfo.cmake
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/Game/GameObjects/Entrance_and_Exit.cpp.obj
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/Field/Field.cpp.obj
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/Field/FieldGeneration/FieldBuilder.cpp.obj
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/Field/FieldView.cpp.obj
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/flags.make
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/Game/Game.cpp.obj
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/includes_CXX.rsp
/cmake-build-sfml/Testing/Temporary/LastTest.log
/cmake-build-sfml/libatomic-1.dll
/cmake-build-sfml/libgcc_s_seh-1.dll
/cmake-build-sfml/libgfortran-4.dll
/cmake-build-sfml/libgomp-1.dll
/cmake-build-sfml/libquadmath-0.dll
/cmake-build-sfml/libssp-0.dll
/cmake-build-sfml/libstdc++-6.dll
/cmake-build-sfml/libwinpthread-1.dll
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/link.txt
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/linklibs.rsp
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/main.cpp.obj
/cmake-build-sfml/Makefile
/cmake-build-sfml/CMakeFiles/Makefile.cmake
/cmake-build-sfml/CMakeFiles/Makefile2
/cmake-build-sfml/nibbles_01.cbp
/cmake-build-sfml/nibbles_01.exe
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/objects.a
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/objects1.rsp
/cmake-build-sfml/openal32.dll
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/progress.make
/cmake-build-sfml/CMakeFiles/progress.marks
/cmake-build-sfml/sfml-audio-2.dll
/cmake-build-sfml/sfml-audio-d-2.dll
/cmake-build-sfml/sfml-graphics-2.dll
/cmake-build-sfml/sfml-graphics-d-2.dll
/cmake-build-sfml/sfml-network-2.dll
/cmake-build-sfml/sfml-network-d-2.dll
/cmake-build-sfml/sfml-system-2.dll
/cmake-build-sfml/sfml-system-d-2.dll
/cmake-build-sfml/sfml-window-2.dll
/cmake-build-sfml/sfml-window-d-2.dll
/cmake-build-sfml/CMakeFiles/TargetDirectories.txt
/cmake-build-sfml/CMakeFiles/nibbles_01.dir/Field/Tile.cpp.obj
